<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@vehicle.price_in_dollars) %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.condition.humanize %>
</p>

<p>
  <strong>Dealers:</strong>
  <%= @vehicle.dealerships.map(&:name).join(', ') %>
</p>

<% if policy(@vehicle).update? %>
  <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<% end %>
<%= link_to 'Back', vehicles_path %>
